body {
  height: 300px;
  width: 650px;
  margin: 0;
}

/* SPLITSCREEN */
.splitScreen {
  display: flex;
}
.splitScreen_left {
  flex: 1;
  border-right: 1px solid #b8b8b8;
}
.splitScreen_right {
  flex: 2;
}
/* HEADLINE */
.headline {
  text-align: center;
  padding: 0 10px;
  border-bottom: 1px solid #b8b8b8;
}

/* SIDEBAR */
.sidebar {
}
.logo {
  padding: 15px 27px;
  height: 75px;
}
/*---- Nav */
.nav {
  display: flex;
  flex-direction: column;
}
.navItem {
  display: flex;
  align-items: center;
  padding: 0px 15px;
}
.active {
  background-color: rgb(221, 219, 219);
}
.navItem:hover {
  background-color: rgb(221, 219, 219);
  cursor: pointer;
  border-radius: 5px;
}

/* CONTENT */
.content {
}
.deletedVideos_list {
}
.message {
}
