body {
  height: 300px;
  width: 650px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* SPLITSCREEN */
.splitScreen {
  display: flex;
}
.splitScreen_left {
  flex: 1;
  border-right: 1px solid #b8b8b8;
}
.splitScreen_right {
  flex: 2;
}
/* HEADLINE */
.headline {
  text-align: center;
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid #b8b8b8;
}

/* BUTTON */
.button {
  background: #6a76ff;
  width: 76px;
  height: 24px;
  border: 0;
  box-shadow: 0 0 3px;
  cursor: pointer;
}
.button:hover {
  background: #515ffd;
}

/* SIDEBAR */
.sidebar {
}
.logo {
  padding: 15px 27px;
  height: 75px;
}
/*---- Nav */
.nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.nav_item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 15px;
  transition: all 0.3s;
}
.nav_item_icon {
  width: 25px;
  color: red;
}
.active {
  background-color: rgb(221, 219, 219);
}
.nav_item:hover {
  background-color: rgb(221, 219, 219);
  cursor: pointer;
  border-radius: 5px;
}

/* MAIN_CONTENT */
.main_content {
  padding: 20px;
}
.main_content-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.savePlaylist_list {
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 20px;
}
.savePlaylist_list li {
  padding: 15px;
  border-bottom: 1px solid grey;
}
.savePlaylist_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* EmptyDeletedVideos */
.emptyDeletedVideos_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  bottom: 10px;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
