body {
  height: 500px;
  width: 500px;
}
.button_container {
  display: flex;
}
.button {
  width: 120px;
  height: 32px;
  background-color: rgb(78, 221, 190);
  border-radius: 3px;
  border: 0;
  box-shadow: 0 0 3px;
  margin: 10px;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(55, 153, 132);
}
.button:active {
  background-color: rgb(39, 111, 95);
}
